@import url('fonts/TTLakes/stylesheet.css');

body {
    font-family: 'TT Lakes', 'Open Sans', 'Arial', sans-serif;
    background-color: #F8F8F8;
}

.header {
    background: linear-gradient(to right, #F8F8F8 0%, #FFF 98.61%);
    height: 56px;
    display: flex;
    align-items: center;
}
.header__title {
    color: #7E7E82;
    font-family: 'TT Lakes', 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    padding-left: 32px;
}

.list {
    margin: 0;
    padding-top: 24px;
    padding-left: 32px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 16px;
}

.list--show-part {
    height: 160px;
    overflow: hidden;
}

.list__item {
    margin:0;
    padding: 0;
    list-style: none;
    width: 240px;
}

.list__link { 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    box-sizing: border-box;
    width: 240px;
    height: 72px;
    background-color: #FFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
}

.circle-button {
    display: block;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    width: 40px;
    height: 40px;
    transition: transform 0.4s ease;
}

.brend__circle-button {
    margin-left: auto;
    margin-right: 16px;
}
.circle-button--arroy-img {
    background: url(../images/brends/arroy.svg) no-repeat center center;
}

.circle-button:hover {
    transform: rotate(360deg);
    opacity: 0.9;
}

.brend__img {
    box-sizing: border-box;
    margin-left: 16px;
}

.read-more-button {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        background: url(../images/read-more-close.svg) no-repeat left center;
        height: 24px;
        padding-left: 18px;
        display: block;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        font-weight: 600;
        color: #1B1C21;
        align-self: center;
    }

    .read-more-button--open {
        background: url(../images/read-more-open.svg) no-repeat left center;
        padding-left: 22px;
    }

    .read-more-button--close {
        background: url(../images/read-more-close.svg) no-repeat left center;
    }

    .read-more-button:hover {
        opacity: 0.7;
    }

    .footer__read-more-button {
    margin-top: 24px;
    margin-left: 32px;
    }

@media (max-width:767px) {
    .header__title {
        padding-left: 16px ;
    }

    .list {
        margin: 0;
        padding-left: 0;
        padding-right: 0;

        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        column-gap: 0;
    }

    .swiper {
        height: 136px;
        width: 100%;
        padding-left:16px ;
    }
    
    .swiper-pagination-bullet-active {
        background-color: #B5B6BC;
    }
      
    .list--show-part {
        height: 120px;
    }
    
    .read-more-button {
        display: none;
    }

}


@media (min-width:768px) {
    .header__title {
        padding-left: 24px;
    }

    .list {
        display: flex;
        column-gap: 24px;
        padding-left: 24px;
        row-gap: 16px;
        align-content: start;
        
    }

    .list__item { 
        width: 224px;
    }

    .for-pagination {
        display: none;
    }
}

@media (min-width:1120px) {
    .for-pagination {
        display: none;
    }

}